@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-5">Gerador de Rotas</h1>
	<p>
	<p style="margin-bottom: 30px">
		Seja Bem-vindo ao Gerador de Rotas, nele você conseguirá encontrar as seguintes funcionalidades:<br />
	</p>
	<ul >
		<li>
			<b>Pessoa: </b>É possível cadastrar pessoas, vê-las detalhadamente, editar e deletá-las.
		</li>
		<li>
			<b>
				Equipes:
			</b>
			É possível montar as equipes, colocando o nome, adicionando as pessoas de sua preferência, e a cidade a qual ela pertencerá.
		</li>
		<li>
			<b>
				Importar:
			</b>
			É possível importar seu aquivo Excel para gerar as rotas.
		</li>
		<li>
			<b>
				Exportar:
			</b>
			É possível exportar as informações de alguns dados das equipes em um arquivo Word.
		</li>
	</ul><p style="margin-top: 40px">
	<b >Instruções:</b>

	</p>
	<ol>
		<li>
			Entre na página Importar, selecione o arquivo Excel que você tenha escolhido e clique em Importar.
		</li>
		<li>
			Na página pessoa, cadastre as pessoas que deseja inserir no time.
		</li>
		<li>
			Em Equipes, cadastre as equipes.

		</li>
		<li>
			E por último, na página Exportar, selecione as opções desejadas para ver as informações em um arquivo Word.
		</li>
	</ol>
	</p>
</div>
