@model Models.Pessoa
	wData["Title"] = "Edit";
}

<h2>Editar Pessoa</h2>

<div class="row">
	v class="col-md-4">
		asp-action="Edit">
			validation-summary="ModelOnly" class="text-danger"></div>
			s="form-group">
				or="Nome" class="control-label"></label>
				or="Nome" class="form-control" />
				lidation-for="Nome" class="text-danger"></span>
						s="form-group">
				or="Cpf" class="control-label"></label>
				nly id="cpf" asp-for="Cpf" class="form-control" />
				lidation-for="Cpf" class="text-danger"></span>
						s="form-group">
				"submit" value="Salvar" class="btn btn-primary" />
					>
	iv>
</div>

<div>
	asp-action="Index">Voltar</a>
</div>

@section Scripts {
	<script src="~/js/cpf.js"></script>

    @{
	
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
