@model GeradorDeRotas.Models.Word

@{
	ViewData["Title"] = "Export";

}

<h2 style="text-align:center; margin:100px 0 30px 0">Exportar Arquivo Word</h2>

<div class="row justify-content-md-center">
	<div class="col-md-4" style="text-align:center">
		<form asp-action="Export">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label class="control-label">Campos</label>
				@Html.ListBox("Rotas", ViewBag.Rotas, new { @class = "form-control", id = "multiSelectDropDown", multiple = "multiple" })
			</div>
			<div class="form-group">
				Serviço
				@Html.DropDownListFor(model => model.Servico, ViewBag.Servicos as SelectList, "Selecione...", new{ @class = "form-control" })
			</div>
			<div class="form-group">
				<label asp-for="Cidade" class="control-label"></label>
					@Html.DropDownListFor(model => model.Cidade, ViewBag.Cidades as SelectList, "Selecione...", new{ @class = "form-control" })
				<span asp-validation-for="Cidade" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Exportar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@if(TempData["semEquipe"] != null){
		<script src="~/js/exportInvalidTeam.js"></script>
	}
	
	@if(TempData["semServico"] != null){
		<script src="~/js/exportInvalidService.js"></script>
	}

	@if(TempData["necessarioExportar"] != null){
		<script src="~/js/importarPrimeiro.js"></script>
	}
@*<script src="~/js/exportSuccess.js"></script>*@

<script src="~/js/cidade.js"></script>
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}